In [22]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [23]:
loan = pd.read_csv("loan_df.csv")
filter = 'last_credit_pull_d last_pymnt_d term sub_grade'.split(' ')
loan = loan[filter]
loan.head()

  last_credit_pull_d last_pymnt_d        term sub_grade
0             May-16       Jan-15   36 months        B2
1             Sep-13       Apr-13   60 months        C4
2             May-16       Jun-14   36 months        C5
3             Apr-16       Jan-15   36 months        C1
4                NaN          NaN         NaN       NaN

In [24]:
last_credit_pull_d, last_pymnt_d, term, sub_grade = loan.loc[1]
input_data = pd.DataFrame({
    'last_credit_pull_d': [last_credit_pull_d],
    'last_pymnt_d': [last_pymnt_d],
    'term': [term],
    'sub_grade': [sub_grade]
})

In [25]:
loan= pd.concat([loan,input_data], ignore_index= True)

In [26]:
input_data

  last_credit_pull_d last_pymnt_d        term sub_grade
0             Sep-13       Apr-13   60 months        C4

In [27]:
loan.head()

  last_credit_pull_d last_pymnt_d        term sub_grade
0             May-16       Jan-15   36 months        B2
1             Sep-13       Apr-13   60 months        C4
2             May-16       Jun-14   36 months        C5
3             Apr-16       Jan-15   36 months        C1
4                NaN          NaN         NaN       NaN

In [ ]:
label_encoder = LabelEncoder()
for col in loan:
    loan[col] = label_encoder.fit_transform(loan[col])

for col in loan:
    freq_encoding = loan[col].value_counts().to_dict()
    freq_encoding = loan[col].map(freq_encoding)

ValueError: invalid literal for int() with base 10: 'Sep-13'