In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [ ]:
loan = pd.read_csv("Data\loan_df.csv")
filter = ['last_pymnt_d', 'last_credit_pull_d', 'sub_grade', 'zip_code',
       'int_rate', 'revol_bal', 'purpose', 'earliest_cr_line', 'revol_util',
       'term', 'dti', 'last_pymnt_amnt', 'total_rec_int', 'emp_title', 'title',
       'total_pymnt', 'loan_amnt', 'total_rec_prncp', 'annual_inc',
       'total_acc', 'funded_amnt', 'home_ownership', 'open_acc',
       'verification_status', 'emp_length']

loan.head()

<>:1: SyntaxWarning: invalid escape sequence '\l'
<>:1: SyntaxWarning: invalid escape sequence '\l'
C:\Users\DAT\AppData\Local\Temp\ipykernel_7292\1146804463.py:1: SyntaxWarning: invalid escape sequence '\l'
  loan = pd.read_csv("Data\loan_df.csv")

,last_pymnt_d,last_credit_pull_d,sub_grade,zip_code,int_rate,revol_bal,purpose,earliest_cr_line,revol_util,term,...,total_pymnt,loan_amnt,total_rec_prncp,annual_inc,total_acc,funded_amnt,home_ownership,open_acc,verification_status,emp_length
0,Jan-15,May-16,B2,860xx,10.65,13648.0,credit_card,Jan-85,83.7,36 months,...,5863.155187,5000.0,5000.00,24000.0,9.0,5000.0,RENT,3.0,Verified,10.0
1,Apr-13,Sep-13,C4,309xx,15.27,1687.0,car,Apr-99,9.4,60 months,...,1008.710000,2500.0,456.46,30000.0,4.0,2500.0,RENT,3.0,Source Verified,1.0
2,Jun-14,May-16,C5,606xx,15.96,2956.0,small_business,Nov-01,98.5,36 months,...,3005.666844,2400.0,2400.00,12252.0,10.0,2400.0,RENT,2.0,Not Verified,10.0
3,Jan-15,Apr-16,C1,917xx,13.49,5598.0,other,Feb-96,21.0,36 months,...,12231.890000,10000.0,10000.00,49200.0,37.0,10000.0,RENT,10.0,Source Verified,10.0
4,NaN,NaN,NaN,NaN,7.90,7963.0,NaN,NaN,28.3,NaN,...,5632.210000,5000.0,5000.00,36000.0,12.0,5000.0,NaN,9.0,NaN,3.0

In [13]:
loan['revol_util']

0        83.7
1         9.4
2        98.5
3        21.0
4        28.3
         ...
36810    23.0
36811    13.1
36812    26.9
36813    19.4
36814    51.5
Name: revol_util, Length: 36815, dtype: float64

In [24]:
last_credit_pull_d, last_pymnt_d, term, sub_grade = loan.loc[1]
input_data = pd.DataFrame({
    'last_credit_pull_d': [last_credit_pull_d],
    'last_pymnt_d': [last_pymnt_d],
    'term': [term],
    'sub_grade': [sub_grade]
})

In [25]:
loan= pd.concat([loan,input_data], ignore_index= True)

In [26]:
input_data

  last_credit_pull_d last_pymnt_d        term sub_grade
0             Sep-13       Apr-13   60 months        C4

In [27]:
loan.head()

  last_credit_pull_d last_pymnt_d        term sub_grade
0             May-16       Jan-15   36 months        B2
1             Sep-13       Apr-13   60 months        C4
2             May-16       Jun-14   36 months        C5
3             Apr-16       Jan-15   36 months        C1
4                NaN          NaN         NaN       NaN

In [35]:
label_encoder = LabelEncoder()
for col in loan:
    loan[col] = label_encoder.fit_transform(loan[col])
    input_data[col] = label_encoder.transform(input_data[col])

for col in loan:
    freq_encoding = loan[col].value_counts().to_dict()
    loan[col] = loan[col].map(freq_encoding)
    input_data[col] = input_data[col].map(freq_encoding).fillna(0)

ValueError: invalid literal for int() with base 10: 'Sep-13'

In [34]:
loan.head()

   last_credit_pull_d  last_pymnt_d   term  sub_grade
0                8722           323  26678       1820
1                 370           811   9047       1102
2                8722           745  26678       1047
3                2230           323  26678       1883
4                1092          1161   1091       1091