In [1]:
import pandas as pd

In [2]:
loan = pd.read_csv("loan.csv")

C:\Users\DAT\AppData\Local\Temp\ipykernel_21152\3592418794.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loan = pd.read_csv("loan.csv")

In [34]:
filter = ['last_credit_pull_d','last_pymnt_d','term','sub_grade']
a = loan[loan.loan_status == 'Fully Paid']
a[filter]

      last_credit_pull_d last_pymnt_d        term sub_grade
0                 May-16       Jan-15   36 months        B2
2                 May-16       Jun-14   36 months        C5
3                 Apr-16       Jan-15   36 months        C1
5                 Jan-16       Jan-15   36 months        A4
6                 May-16       May-16   60 months        C5
...                  ...          ...         ...       ...
39712             Jun-10       Jul-10   36 months        A4
39713             Jul-10       Jul-10   36 months        C1
39714             Jun-07       Apr-08   36 months        A4
39715             Jun-07       Jan-08   36 months        A2
39716             Jun-10       Jun-10   36 months        E2

[32950 rows x 4 columns]